body{
    background-color:rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-center{
    background-color: rgba(255, 189, 75, 1);
    width: 569px;
    height: 543px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0 0 10px 5px rgb(172, 160, 160);
    display: flex;
    flex-direction: column;
    align-items: center;

    > *{
        margin-bottom: 30px;
    }
    form{
        display: flex;
        align-items: center;
        width: 350px;
        flex-direction: column;
        justify-content: space-between;

        .submit{
            width: 343px;
            height: 52px;
            border: 2px solid black;
            background-color: black;
            color: white;
            border-radius: 5px;
            font-weight: 750;
            font-size: 12px;
        }
    }
    #box-cad{
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        
    }
    
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgb(204, 201, 212);
    border-radius: 100px;
    margin-top: 25px;

    img{
        width: 70px;
        height: 70px;
        box-shadow: 0 0 10px 5px rgb(99, 99, 99);
        border-radius: 100px;
    }
    
}

.input-campo{
    width: 313px;
    height: 52px;
    border: 2px solid black;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: medium;

    background-color: transparent;
}

#form-login{
    height: 236px;
}
#form-cadastro{
    height: 300px;
}

