:root{
    --main-background-color: rgb(236, 236, 236);
    --secondary-background-color: rgb(235, 235, 235);
    --box-center-background-color: rgba(255, 189, 75, 1);
    --box-shadow-color: rgb(172, 160, 160);
    --submit-background-color: black;
    --submit-border-color: rgb(0, 0, 0);
    --submit-color: white; 
    --input-background-color: rgb(255, 255, 255);
    --input-color: black;
    --box-cad-color: black;
    --dashboard-box-shadow-color: rgba(126, 126, 126, 0.801);
    --cor-font: rgb(23, 23, 23);
}
.theme-black{
    --main-background-color: rgb(9, 24, 37);
    --secondary-background-color: rgb(17, 34, 53);
    --box-center-background-color: rgb(17, 34, 53);
    --box-shadow-color: rgb(0, 0, 0);
    --submit-background-color: rgb(255, 109, 45);
    --submit-border-color: rgb(255, 109, 45);
    --submit-color: white; 
    --input-background-color: rgba(0, 0, 0, 0.329);
    --input-color: white;
    --box-cad-color: white;
    --dashboard-box-shadow-color:  rgba(0, 0, 0, 0.48);
    --cor-font: rgb(255, 255, 255);
}

body{
    background-color:var(--main-background-color);
    display: flex;
    
    justify-content: center;
    
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    align-items: center;
    margin-top: 3%;
    height: 30%;
    width: 40%;
}
#box-center{
    background-color: var(--box-center-background-color);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
    box-shadow: 0 0 10px 5px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    > *{
        margin-bottom: 20px;
    }
    form{
        display: flex;
        align-items: center;
        width: 70%;
        flex-direction: column;
        input{
            margin-bottom: 3vh;
        }

        .submit{
            width: 108%;
            height: 52px;
            
            margin: 0;
            margin-top: 2vh;
            border: 2px solid var(--submit-border-color);
            background-color: var(--submit-background-color);
            color: var(--submit-color);
            border-radius: 5px;
            font-weight: 750;
            font-size: 12px;
        }
        label{
            display: flex;
            align-self: baseline;
            color: var(--cor-font);
            font-weight: 500;
        }
    }
    #box-cad{
        display: flex;
        width: 45vh;
        align-items: center;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-size: 13px;

        p{
            color: var(--box-cad-color);
            margin-left: 1vh;
        }
        
    }
    
}

#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    
    border-radius: 100px;

    img{
        width: 70px;
        height: 70px;
        border-radius: 100px;
    }
    
}

.input-campo{
    width: 100%;
    height: 8vh;
    border: 2px solid var(--submit-border-color);
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color: var(--input-color);
    background-color: var(--input-background-color);
    outline: none;
}


#form-login{
    height: 45vh;
}
#form-cadastro{
    height: 55vh;
}

.div-change-theme{
    margin-top: 2vh;
    margin-right: 2vh;
    width: 5vh;
}
.div-change-theme input{
    width: 5vh;
    height: 5vh;
    margin: 0;
    opacity: 0;
    position: absolute;
}
.div-change-theme input:checked ~ #sun-theme {
    transition: 1s;
    opacity: 1;
}
.div-change-theme input:checked ~ #moon-theme {
    opacity: 0;
}
#sun-theme{
    position: absolute;
    opacity: 0;

    img{
        width: 5vh;
        height: 5vh;
    }
}
#moon-theme{
    transition: 0.5s;
    position: absolute;
    opacity: 1;
    img{
        width: 5vh;
        height: 5vh;
    }
}
.show{
    display: block;
}
.div-theme{
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 !important;
    span{
        margin-top: 2vh;
        margin-right: 3vh;

        img{
            width: 5vh;
        }
    }
}

@media(max-width: 450px){
    header{
        width: 90%;
        margin-top: 11vh;
    }
    .input-campo{
        height: 6vh;
    }
    #form-cadastro{
        height: 35vh;
    }
        #form-login{
        height: 30vh;
    }
}

@media(min-width:451px) and (max-width: 699px){
    header{
        width: 65%;
    }
}

@media(min-width:700px) and (max-width: 1000px){
    header{
        width: 55%;
    }
}

.border-erro{
    border-color: red;
}

.border-erro:focus{
    border-color: var(--submit-border-color) !important;
}

.style-error{
    width: 100%;
    font-size: 2vh;
    white-space: nowrap;
    color: red;
    height: 2vh;
    margin: 0.5vh 0;
    border: 0 !important;
} 