nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    box-shadow: 2px 5px 5px var(--nav-box-shadow-color);

}
.nav-menu{
    position: absolute;
    z-index: 999;
    
    width: 70%;
    display: flex;
    min-height: 200vh;
    
}

.nav-profile{
    
    background-color: var(--secondary-background-color);
    display: flex;
    
    
    position: absolute;
    z-index: 999;
    
    width: 20%;
    display: flex;
    min-height: 200vh;
    margin-left: 18vh;

    > div{
        display: flex;
        align-items: center;
        
        height: 9vh;
        
        background-color: var(--nav-profile-div);
        margin-top: 3vh;
        span{
            align-items: center;
        }
        color: var(--nav-profile-div-color);
    }
    .div-logout{
        span{
            display: flex;
            align-self: center;
            padding-left: 1vh;
            height: 6vh;
            width: 7vh;
            margin-left: 2vh;
            margin-right: 2vh;
            border: solid 0.3vh white;
            border-radius: 1vh;
        }
    }
    .perfil-nome{
        width: 20vh;
        padding-left: 3vh;
    }
   
}
.profile-off{
    display: none;
}

.nav-logo{
    width: 80%;
    height: 4%;
    background-color:  var(--cor-laranja);
    margin-top: 3vh;
    padding-left: 7px;
    display: flex;
    align-items: center;
    border-radius: 1vh;
    p{
        font-size: 2vh;
        margin-left: 1vh;
    }
    .div-menu{
        display: none;
    }
    img{
        width: 10vh;
        height: 10vh;
        align-self: center;
    }
}
.div-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
    width: 90%;
    height: auto;
    span{
        display: flex;
        align-items: center;
        width: 90%;
        height: 7vh;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 3%;

        background-color: var(--nav-span-off-hover);
        box-shadow: 0 2px 2px 1px rgba(83, 83, 83, 0.75);
        border-radius:0.5vh;
        
        a{
            display: flex;
            align-self: center;
            text-decoration: none;
            color: var(--cor-font);
            font-size: 3vh;
            width: 100%;
        }
        p{
            margin: 0;
        }
        

        img{
            margin-right: 1vh;
            width: 4vh;
        }
    }
    span:hover{
        background-color: var(--hover-background-color);
        box-shadow: 0 0.5vh 0.5vh 0.5vh var(--hover-box-shadow-color) ;
        transition: 0.2s;
        border-radius: 0.5vh;
        
    }
    
}
.nav-div{
    width: 20%;
    display: flex;
    min-height: 200vh;
    margin-right: 3vh;
}

.div-nav .home{
    img{
        padding-left: 0.5vh;
    }
}
.div-nav .relatorio{

    img{
        width: 3.5vh;
        padding: 0.5vh;
    }
}
nav .span-on{
    background-color: var(--span-on-background-color);
    
    p{
        color: var(--span-on-color);
    }
    
    box-shadow: 0 2px 2px 1px rgb(0, 0, 0);
    border-radius:0.5vh;
}
nav .span-on:hover{
    background-color: var(--span-on-background-color);
    box-shadow: 0 2px 2px 1px rgb(0, 0, 0);
    border-radius:0.5vh;
}