body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    padding-right: 20px;
    margin: 0;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    user-select: none;
}
header{
    
    height: 60px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    div{
        display: flex;
        align-items: center;
        margin-right: 30px;
        width: 250px;

        a{
            text-decoration: none;
            color: rgb(68, 68, 68);
            background-color: transparent;
            font-size: 15px;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            background-color: rgba(255, 143, 30, 1);
            border-radius: 100px;
        }
        span{
            display: flex;
            align-items: center;
        }
    }
    hr{
        height: 25px;
        width: 1px;
        background-color: rgb(116, 115, 115);
        border: transparent;
    }
}
nav{
    display: flex;
    width: 285px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 5px 5px rgb(182, 182, 182);

}

#nav-logo{
    width: 245px;
    height: 60px;
    background-color:  rgb(204, 201, 212);
    margin-top: 20px;
    padding: 3px 0px 0px 7px;
    display: flex;
    align-items: center;
    
    p{
        font-size: 13px;
        margin-left: 15px;
    }
    
}
#div-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 245px;
    height: 100px;
    margin-top: 80px;

    span{
        display: flex;
        align-items: center;

        img{
            margin-right: 10px;
        }
    }
    hr{
        width: 240px;
    }
}
main{
    width: 1035px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
}
#header-main{
    display: flex;
    flex-direction: column;
    width: 1030px;
    flex-grow: 1;
    font-family: "Roboto", sans-serif;
}

#div-dashboard{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 20px;
    > *{
        width: 330px;
        height: 180px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: end;
        
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 330px;
            height: 155px;
        }
        p{
            margin-right: 15px;
        }
    }
}

#div-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(255, 255, 255);
    p{
        margin: 20px 0px 0px 20px;
    }
    .div-teste{
        display: flex;
        justify-content: space-between;
        padding: 0px 15px 0px 15px;
        margin-bottom: 10px;
        >*{
            width: 316px;
            height: 10px;
            font-size: 15px;
        }
        :nth-child(3){
            text-align: end;
            margin-right: 30px;
        }
    }
    hr{
        width: 980px;
        margin: 0px 0px 0px 25px;
        margin-right: 25px;
        margin-top: 5px;
    }
}



#search{
    width: 360px;
    height: 35px;
    border-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    font-size: medium;
    margin-left: 15px;
    padding-left: 10px;
}

.div-nav{
    display: flex;
    min-height: 100vh;
    margin-right: 20px;
}

#list-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    margin-bottom: 10px;
    
}
#box-list{
    display: flex;
    margin-top: 5px;
    span{
        width: 316px; 
        font-size: 15px;
        margin-left: 20px;
    }
}


