body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
    padding-right: 20px;
    margin: 0;
}
header{
    width: 1010px;
    height: 60px;
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
nav{
    width: 285px;
    height: 610px;
    background-color: white;
    box-shadow: 2px 5px 5px rgb(182, 182, 182);
}
main{
    width: 1030px;
    height: 515px;
    display: flex;
    flex-direction: column;
    
}
#header-main{
    display: flex;
    flex-direction: column;
    width: 1010px;
    
}

#div-dashboard{
    display: flex;
    justify-content: space-between;
    width: 1010px;
    margin-bottom: 20px;
    > *{
        width: 318px;
        height: 180px;
        background-color: rgb(255, 255, 255);
    }
}

#div-list{
    width: 1010px;
    height: 307px;
    background-color: rgb(255, 255, 255);
}
#search{
    width: 360px;
    height: 35px;
    border-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 3px;
    font-size: medium;
    margin-left: 15px;
    padding-left: 10px;
}